<header>
    <img 
    src="assets/img/silvio.jpeg"
    height="130px"
    width="130px"
    loading="eager"
    alt="Silvio Ferreira - Foto de perfil"
    />
    <h1>Silvio Ferreira</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Web Developer | C# | .Net | Angular | JavaScript </p>
        <p>Rio de Janeiro, Rio de Janeiro, Brasil</p>
        <p>
            Estou em busca de oportunidades na área de desenvolvimento web, atuando como desenvolvedor Full-Stack. 
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/SilvioCurriculo.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/silvio-ferreira-b88382198/" target="_blank" class="btn btn-secundary">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Silvio-Ferreira" target="_blank" class="btn btn-primary">
                        GitHub
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                src="assets/icons/whatsapp.svg"
                alt="Ícone para contato via WhatsApp"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5521986851584&text=Ol%C3%A1%20Silvio,%20preciso%20de%20um%20job!"
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (21) 9 8685-1584</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img
                src="assets/icons/mail.svg"
                alt="Ícone para contato via E-mail"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a href="mailto:silviodasilvaferreira17@gmail.com"
                    target="_blank">
                    <strong>Envie uma E-mail para:</strong>
                    <p>silviodasilvaferreira17&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
     </div>
</aside>